/*
Theme Name: Twentyseventeen Child
Theme URI: http://daisythemes.com/theme/photobook/
Description: A child theme of Photobook Theme
Author: Daisy Themes
Author URI: http://daisythemes.com/
Version: 1.0.0
Template: twentyseventeen 
*/
@import url("../twentyseventeen/style.css");
@font-face {
  font-family: 'BiondiSansBk-Regular';
  src: url('fonts/BiondiSansBk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BiondiSansRg-Bold';
  src: url('fonts/BiondiSansRg-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SVN-Gotham-Rounded-Regular';
  src: url('fonts/SVN-Gotham-Rounded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{font-family: 'SVN-Gotham-Rounded-Regular';background: #000}
body p{font-size: 14px; margin: 0; margin-bottom: 10px;}
.site-content-contain{background: #000}
.content-area{background: #000}
.page:not(.home) #content{padding: 0!important}
.menu_laibunfu{    clear: both;
    width: 210px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    text-align: center;background: rgba(117, 117, 117, 0.8);height: 100%}
.menu_laibunfu .logo{width: 120px;margin: 20px auto 50px}
.menu_laibunfu .menu-main-menu-container ul li{list-style: none;}
.menu_laibunfu .menu-main-menu-container ul li{}
.menu_laibunfu .menu-main-menu-container ul li a{    color: #fff;
    font-family: 'BiondiSansBk-Regular';
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px 0;
    display: block;position: relative;transition: all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;padding-top: 15px;}
.menu_laibunfu .menu-main-menu-container ul li a:before{}
.menu_laibunfu .menu-main-menu-container ul li.current_page_item a{color: #9e8b3d;background: #fff;
    font-weight: 600;}   
.menu_laibunfu .menu-main-menu-container ul li a:hover{color:#bfaf8c;transition: all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out; letter-spacing: 2px;}
.menu_laibunfu nav{height: calc(100% - 243px); height: -webkit-calc(100% - 243px);    overflow: auto;}
.menu_laibunfu .menu-main-menu-container ul{padding: 0}
.icon-social{height: 60px;}
.icon-social ul li{list-style: none;padding: 0 5px}
.icon-social ul li img{transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}
.icon-social ul li:hover img{transform: scale(1.2); transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}
.icon-social ul {display: flex;align-items: center;justify-content: center;padding-left: 0}
.container_laibunfu{position: absolute;
    height: 100vh;
    top: 0;
    left: 250px;
    width: 450px;
    color: #fff!important;
    background: rgba(117, 117, 117, 0.8);
    overflow: hidden;}
.content_laibunfu{    width: 85%;
    margin: 0 auto;
    margin-top: 70px;}
.content_laibunfu h4{color: #fff;padding:0}
.content_laibunfu h3{    color: #1d1d1d;
    font-size: 26px;
    font-family: 'BiondiSansRg-Bold';}
.content_laibunfu h5{    padding: 0;
    color: #bfaf8c;
    letter-spacing: 0;
    font-size: 16px;}
.content_laibunfu .gallery_laibunfu{    height: calc(100vh - 243px);
    height: -webkit-calc(100vh - 243px);
    overflow: auto;}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,.3);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,.3);
border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bfaf8c;
}
.menu_list{    border-top: 1px dotted #fff;}
.menu_list h5{     border-bottom: 1px dotted #fff;
    padding: 0!important;
    font-size: 15px;
    margin-bottom: 0;}
.menu_list h5 a{      color: #bfaf8c;
    display: block;
    padding: 7px 0;}
.button_menu .popupmenu_thanh{    width: 30px;
    height: 2px;
    background: #a79650;
    display: block;
    position: absolute;
    top: 50%;
    left: 47%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;}
.button_menu .popup_menu_1 {    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);}
.button_menu.popup_menu_2 {    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);}
.button_menu .popup_menu_3 {    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);}
.header_mobile{    clear: both;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #3e3e3e;
    border-bottom: 1px solid #bfaf8c;
    z-index: 99999;    display: none;}
.header_mobile .logo_mobile img{    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;}
.header_mobile .logo_mobile img{    width: 145px;}
.menu_mobile{    position: fixed;display: none;
    top: 70px;
    right: 0px;
    background-color: #3e3e3e;
    padding: 20px 0px 10px 0px;
    width: 100%;
    border-bottom: 1px solid #bfaf8c;}
.button_menu{    position: absolute;
    z-index: 99999;
    right: 30px;
    top: 15px;
    height: 40px;
    width: 40px;cursor: pointer;}

.dt-main-menu_laibunfu_mobile ul li a{    color: #fff;
    font-family: 'BiondiSansBk-Regular';
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px 0;
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    padding-top: 15px;text-align: center;}
.panel-content_laibunfu{background: #000}

.footer_1{    position: absolute;display: none;
    bottom: 20px;width: 100%}
.copyright{    text-align: center;
    color: #fff;
    font-size: 13px;
    width: 95%;
    margin: 0 auto;}
 .design_by{color: #9e8b3d;}
 .design_by a{    color: #9e8b3d;}
.sliderr_mobile{display: none;}


body,.site-content-contain, .content-area {
    background: #3e3e3e;
}
.popup-gallery img{
    width: 100%;
    margin-bottom: 0;
}
/*#fancybox-title{*/
    /*max-width: 100%;*/

/*}*/
/*#fancybox-close {*/
    /*position: absolute;*/
    /*top: -15px;*/
    /*right: -30px;*/
/*}*/
#fancybox-content {
    width: 100% !important;
}
#fancybox-wrap {
    padding: 0;
}
.gallery-img-item h3{
    font-size: 17px;
    color: #bfaf8c;
    margin-bottom: 5px;
}
.gallery-img-item{
	margin-bottom: 15px;
}
.content_laibunfu_2{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 740px;
    width: 450px;
    color: #fff!important;
    background: rgba(117, 117, 117, 0.8);
    overflow: hidden;
}
#fancybox-content {
    width: 100%!important;
}
#fancybox-wrap {
    padding: 0;
}
.wines-link a,
.menu-link a,
.membership-link a{
	color: #222;
	text-transform: uppercase;
	margin-bottom: 5px;
    display: block;
}
.menu-link a:hover,
.menu-link a:focus,
.wines-link a:hover,
.wines-link a:focus,
.membership-link a:hover,
.membership-link a:focus{

	font-weight: bold;
	color: #e5ce88;
	 -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.wines-link br,
.menu-link br,
.membership-link br{
	display: none;
}
.container_laibunfu_2{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 740px;
    width: calc(100vw - 780px);
    color: #fff!important;
    background: rgba(117, 117, 117, 0.8);
    overflow: hidden;
}
.container_laibunfu_2 .gallery_laibunfu{
    height: calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px);
}
.container_laibunfu_2.menu .gallery_laibunfu{
    text-align: center;
}
.container_laibunfu_2.menu .gallery_laibunfu h3{
    margin-bottom: 10px;
}
.container_laibunfu_2.menu .gallery_laibunfu h4{
    color: #1d1d1d;
    margin-bottom: 5px;
}
.container_laibunfu_2.menu .gallery_laibunfu strong,
.container_laibunfu_2.menu .gallery_laibunfu em{
    display: block;
}
.container_laibunfu_2.menu .gallery_laibunfu p{
    margin-bottom: 15px;
}
.container_laibunfu_2 .content_laibunfu{
    width: 95%;
    padding: 0 15px;
}
.menu .menu-content{
    display: none;
}
.menu .menu-content.active{
    display: block;
}
.wines .wines-content{
    display: none;
}
.wines .wines-content.active{
    display: block;
}
.wines .wines-content h3{
    text-align: center;
}
.wines-content h4{
    color: #000;
    margin-bottom: 7px;
}
.membership-content{
    display: none;
}
.membership-content.active{
    display: block;
}
.membership-content ul{
    padding-left: 20px;
}
.unit{
    width: 45%;
    float: right;
    display: table;
}
.unit-col{
    width: 33%;
    display: inline-block;
    font-size: 12px;
    text-align: right;
}
.group-menu{
    margin-bottom: 10px;
}
.group-menu span{
    display: inline-block;
    width: 16.6%;
    text-align: right;
}
.group-menu span:nth-child(1){
    width: 64%;
    text-align: left;
}
.group-menu span:nth-child(2){
}
.group-menu span:nth-child(3){
}
.group-menu.group-menu-onlybottle span:nth-child(1) {
    width: 80%;
}
.group-menu.group-menu-onlybottle  {
    margin-bottom: 5px;
}
@media only screen and (max-width: 1250px){
  .text_mobile_1{font-size: 35px!important}
}
@media only screen and (max-width: 1000px){
  .text_mobile_1{font-size: 30px!important}
    .container_laibunfu_2{
        position: inherit;
        left: inherit;
        width: 100%;
        background: transparent;
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }
}
@media only screen and (max-width: 768px){
  .content_laibunfu .gallery_laibunfu{height: auto!important;}
  .content_laibunfu_2,
  .container_laibunfu{
      position: relative;
    height: auto;
    width: 100%;
    left: 0;
    background: #3e3e3e;}
    .content_laibunfu{margin-top: 30px;width: 90%;}
    .panel-content_laibunfu{height: auto!important}
   .footer_1{    position: static;
    background: #3e3e3e;   padding-top: 50px;
    padding-bottom: 50px;} 
  .page-template-defaul .site-content-contain .wrap{    padding: 0;
    margin: 0;
    max-width: 100%;}
    .wrap{ padding: 0;
    margin: 0;
    max-width: 100%;}
   .sliderr_dektops{display: none;}
   .sliderr_mobile{display: block;height: 55vh;background: #3e3e3e;    margin-top: 70px;}
   .page-id-45 .sliderr_mobile{height: auto;}
   .page-id-62 .sliderr_mobile{height: auto;}
   .home .sliderr_mobile{display: block;margin-bottom: 50px}
  .ares.tp-bullets{top: calc(100% + 50px)!important}
  .header_mobile{display: block!important;}
  .menu_laibunfu{display: none;}
  .footer_1{display: block;}
    .header_mobile .logo_mobile img {
        top: 15px;
        left: 15px;
        width: 45px;
    }
body,.site-content-contain, .content-area {
    background: #3e3e3e;
}
}

@media only screen and (max-width: 480px){
  .text_mobile_1{font-size: 30px!important}
  .footer_1{bottom: 120px}

}
@media(max-width: 375px) {
    .dt-main-menu_laibunfu_mobile ul li a {
        font-size: 12px;
        padding: 4px 0;
    }
}
@media only screen and (max-width: 320px){
  .text_mobile_1{font-size: 30px!important}
  .footer_1{bottom: 75px}
}